
<style>

	
body {
	background-color: black
	}

h1 {
	font: Arial;
	font-size: 48;
	font-family: bold;
	color: white;
}

h2 {
	font: helvetica;
	font-size: 20;
	font-family: bold;
	color: white;
}

ul {
	color: white;
}

ul:hover { 
	color: yellow;
}

ol {
	color: white;
}

ol:hover { 
	color: navy;
}


</style>
